.DS_Store
*.o
*Cint.h
*Cint.cxx
*Cint.cc
*Dict.h
*Dict.cxx
*Dict.cc
.depend
*.rootmap
*.so
*.dylib
*.root
*.bin
*.dat
*.info
*~
*.pcm
*.swp
*.pyc
*.png
*.pdf	
/TrackModeling/*.pdf
/lib/*
/doc/dOxy*
/bin/larlite
/bin/llhadd
/GNUmakefile
/UserDev/*
!/UserDev/bin
!/UserDev/RecoTool
!/UserDev/BasicTool
!/UserDev/SelectionTool
!/UserDev/CosmicTagTool
!/UserDev/LArLiteApp
!/UserDev/DisplayTool
!/UserDev/UBRawFileReader
/UserDev/SelectionTool/OpT0Finder/OpTrackAlg/data/uboone_photon_library_v4.root
/UserDev/SelectionTool/OpT0Finder/OpTrackAlg/data/*
/UserDev/SelectionTool/OpT0Finder/OpTrackAlg
Paddles/pdf_for_colla_feb/
Paddles/pdfs/
Paddles/png1500/
Paddles/png1500mcqlite/
Paddles/png1500mcqmcq/
Paddles/png27/
Paddles/pngext/
